:root {
  --red: rgb(181, 28, 49);
  --blue: rgb(24, 68, 126); /* Finnish blue color */
}

.list {
  overflow-x: hidden; /* hide the horizontal scrollbar */
}

.odd {
  background-color: lightgray;
}

.even {
  background-color: white;
}

.row-header {
  background-color: var(--blue);
  color: white;
  padding: 8px 0;
  padding-left: 10px;
  padding-right: 16px;  /* match with content scroll-bar width */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.row-header div {
  flex: 1;
  font-weight: bold;
}

.item-content {
  padding: 8px 0;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.item-content div {
  flex: 1;
}

.item-content :first-child,
.row-header :first-child {
  flex-grow: 3;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--blue);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  color: white;
}

.navigation a:hover,
.navigation .active {
  background-color: var(--red);
}

/* responsive */

@media all and (max-width: 600px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 480px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}